@charset "utf-8";
/* CSS Document */

h1{
	margin: 0px;
	font-size: 11px;
	text-align: left;
	padding: 5px 0;
	color: #C8BB9B;
}
h2{margin:0px;
   font-size:12px;}
   

h3{
	margin:0px;
	padding:0px;
}

h4{	
	font-weight: bold;
	color: #422d22;
	padding:0;
	margin:0;
	}
	

h5{
	font-weight: bold;
	padding:0;
	margin:0;
}

	
h6{margin:0px;
   font-size:12px;}
p{
	margin: 0px;
	font-size: 13px;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	color: #604A3C;
}
img{margin-left:0px;
	padding-left:0px;}

a {
	margin: 0px;
	font-size: 13px;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;  

}

a:link {
	color: #604C3F;
}

a:hover {
	opacity:0.75;
	color: #A38A78;
	font-size: 13px;
}

a:visited {
  color: #604C3F;
	font-size: 13px;
}

.font-size11{
	font-size:11px;
}

.font-size14{
	font-weight:bold;
	font-size:14px;
}

.font-color-blue1{
	color:#285989;
}
.font-color-glay1{
	color:#666;
}
.font-color-pink1{
	color:#e9004b;
}
/*------biginner　*/	
.syousai_f {
	background-color: #595757;
	color: #FFF;
	margin-left: 30px;
}
.syousai_f a{
	color: #FFF;
	text-decoration: none;
}
.dire_f1 {
	color: #A48B78;
	padding-left: 100px;
}
.dire_f2 {
	font-size: 24px;
	padding-left: 55px;
}
.dire_f3 {
	text-align: right;
}
