@charset "utf-8";
/* CSS Document */


.LinksSide{
	margin-top:50px;
}
	.LinksSide dt{
		margin-bottom:15px;
	}
	.LinksSide li{
		margin-bottom:10px;
	}
	
/*--------------------------------------------------menu05　*/

	.AttentionMenu02{
	margin-bottom:80px;
}
	.AttentionMenu02 dt{
		font-weight:bold;
	}
	.AttentionMenu02 dd{
		margin-bottom:30px;
	}
	.AttentionMenu02 li{
		list-style:inside;
		list-style-type:square;
	}


/*--------------------------------------------------top　*/
.top_main .left{
	width:400px;
	height:220px;
	float:left;
}
	.top_main .left .beginner{
		background: url(../img/top/beginner_bg.png) no-repeat left top;
		box-shadow:0px -1px 4px rgba(0,0,0,0.1);
		margin-bottom:30px;
		text-align:center;
	}
		.top_main .left .beginner h4{
			padding:33px 0 8px;
		}
		.top_main .left .beginner dd{
			padding-bottom:18px;
		}
			.top_main .left .beginner dd img{
				box-shadow:0px 1px 2px rgba(0,0,0, 0.3);
			}
		.top_main .left ul li{
			float:left;
			overflow: hidden; position: relative;zoom:1;
		}
.top_main .right{
	width:570px;
	float:right;
}
	.top_main .right ul{
	width: 563px;
	height: 220px;
	background-color: rgba(229,216,219,0.7);
	background-image: url(../img/top/menu_navi_bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	overflow: hidden;
	position: relative;
	zoom: 1;
	padding-left: 7px;
	margin-bottom: 26px;
	}
	.top_main .right ul div{
		float:left;
		width:200px;
		margin:25px 0 0 20px;
	}
	
		.top_main .right ul h4{
			padding:23px 0 20px; 0;
		}
		.top_main .right ul li{
			margin-bottom:15px;
		}
	.top_main .right dl{
		width:316px;
	}
		.top_main .right dl dt{
			background: url(../img/common/star01.png) no-repeat left center;
			padding-left:17px;
			font-style:italic;
			letter-spacing:0.3em;
		}
		.top_main .right dl dd{
		}
			.top_main .right dl .parking{
				background: url(../img/top/parking_icon.png) no-repeat left center;
				color:#9B8D84;
				font-size:12px;
				line-height:18px;
				padding-left:35px;
				margin-bottom:10px;
			}
			.top_main .right dl dd p{
				float:left;
			}
/*------sub box　*/			
#box_l {
	float: left;
	width: 210px;
}
#smenu {
	margin-top: -20px;
}
#smenu li{
	margin-bottom: 15px;
}
.slogo {
	width: 200px;
	text-align: right;
	padding-top: 15px;
	padding-bottom: 15px;
}
#box_r {
	float: right;
	width: 770px;
	padding-top: 15px;
}			
/*------director　*/
.intro{ 
	border:1px dotted #604A3C;
	padding:10px;
	margin-bottom:15px;
	font-weight:bold;
	}	
/*------biginner　*/	
#bgi_box1 {
	width: 770px;
	background-image: url(../img/biginner/shin.png);
	background-repeat: no-repeat;
	background-position: 0 9px;
	height: 340px;
}
.bgi1_l {
	float: left;
	width: 503px;
}
.bgi_ttl {
	margin-top: 101px;
	margin-left: 210px;
	font-size: 24px;
	color: #604c3f;
}
	.bgi_ttl h4{
	letter-spacing: 0.2em;
	font-weight:300;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	}

			
.bgi1_r {
	float: left;
	width: 267px;
	padding-top: 27px;
}
#bgi2 {
	font-size: 13px;
	color: #595757;
	background-image: url(../img/biginner/un_line.png);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 38px;
}
#bgi2 p{
	font-size: 13px;
	color: #595757;
}
#inl2 {
	margin-top: 20px;
}
#inl2 li{
	float: left;
	margin-left: 70px;
}
.bri3 {
		background-image: url(../img/biginner/un_line.png);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 68px;
}
.bri3_l {
	float: left;
	width: 420px;
}
.bri3_l img{
	vertical-align: bottom;
}
.bri3_r {
	float: left;
}
.user1 {
	background-image: url(../img/biginner/user1.png);
	background-repeat: no-repeat;
	height: 62px;
	padding-left: 100px;
	padding-top: 18px;
}
.user2 {
	background-image: url(../img/biginner/user2.png);
	background-repeat: no-repeat;
	height: 62px;
	padding-left: 100px;
	padding-top: 18px;
	margin-top: 20px;
}
#consu_tab {
	text-align: center;
	font-size: 16px;
}
.accesse1 {
	background-image: url(../img/biginner/densya.png);
	background-repeat: no-repeat;
	padding-left: 80px;
	background-position: 2px 6px;
}
.accesse2 {
	background-image: url(../img/biginner/kuruma.png);
	background-repeat: no-repeat;
	padding-left: 80px;
	background-position: 2px 6px;
}

#ft1 {
	margin-top: 30px;

}
#ft1 li {
	float: left;
	margin-left: 30px;
	margin-right: 20px;
}  

#fts_box {
	clear: both;
	margin-top: 40px;
	padding-bottom: 90px;
}
#fts li{
	float: left;
	margin-left: 5px;
}
#ft_end {
}
#ft_end_l{
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9b8d84;
	padding-right: 30px;
	background-image: url(../img/biginner/ftu1.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 18px 39px;
}
#ft_end_ls{
	
}
#ft_end_r{
	float: left;
	margin-left: 50px;
}
/*------director　*/
#dire_box1 {
}
.dire_bl {
	float: left;
	margin-left: 40px;
}
.dire_br {
	float: left;
	padding-top: 15px;
	padding-left: 60px;
}
/*------menu　*/
#menu_u1 {
	text-align: center;
	overflow: hidden; position: relative;zoom:1;
}
#menu_u1 li{
	float: left;
	margin-left: 90px;
}
/*------menu1　*/
#menu1_box {
	margin-top: 50px;
	background-image: url(../imges/menu1_bk.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 120px;
	padding-left: 350px;
	padding-top: 30px;
}
.menu1_eff {
}
.menu1_eff li{
	float: left;
	margin-left: 30px;
}
.menu1_pr {
	float: left;
	margin-left: 115px;
	margin-top: 40px;
}
.menu1_pl {
	float: left;
	margin-left: 60px;
	margin-top: 40px;
}
.inline_box1_s {

	
	padding-top: 60px;
}
.inline_box1_s h3{
	float: left;
	
}
.inline_box1_s img{
	float: left;
	padding-right: 60px;
}
.inline_box1 li{
	display: inline;
	margin-left: 50px;
}
/*------menu2　*/
#menu2_boxt {
	background-image: url(../img/menus/menu2_hk.png);
	background-repeat: no-repeat;
	color: #666;
	padding-bottom: 50px;
}
#menu2_boxt p{
	color: #666;
	font-size: 12px;
}
#menu2_boxt h4{
	font-size: 18px;
}
.menu2_t {
	margin-left: 225px;
	padding-top:40px;
}
	.menu2_t h4{
		font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
		letter-spacing:0.3em;
		font-weight:500;	
		}
.menu2_u {
	padding-left: 340px;
	padding-top: 90px;
}
	.menu2_u h4{
		font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
		letter-spacing:0.3em;
		font-weight:500;	
		}
#menu2_end {
}
#menu2_end p{
		color: #666;
	font-size: 12px;
}
#menu2_end h4{
	padding-bottom: 10px;
	padding-top: 40px;
}
.menu2_end_l {
	float: left;
	width: 350px;
}
.menu2_end_r {
	float: left;
	width: 345px;
	margin-left: 40px;
}
.menu2_end_rr {
	float: left;
	width: 345px;
	margin-left: 40px;
	background-image: url(../img/menu/menu1.pt.png);
	background-repeat: no-repeat;
	background-position: 1px 16px;
}
/*------menu3　*/
#menu3_box {
	margin-top: 50px;
	background-image: url(../imges/menu3_bk.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 200px;
}				
/*--------------------------------------------------OPTION　*/

/*------Space　*/
.sp-pt1{padding-top:1px;}
.sp-pt10{padding-top:10px;}
.sp-pt15{padding-top:15px;}
.sp-pt20{padding-top:20px;}
.sp-pt30{padding-top:30px;}
.sp-pt40{padding-top:40px;}
.sp-pt50{padding-top:50px;}

.sp-pb10{padding-bottom:10px;}
.sp-pb15{padding-bottom:15px;}
.sp-pb20{padding-bottom:20px;}
.sp-pb30{padding-bottom:30px;}
.sp-pb40{padding-bottom:40px;}
.sp-pb50{padding-bottom:50px;}

.sp-pr10{padding-right:10px;}
.sp-pr20{padding-right:20px;}
.sp-pr30{padding-right:30px;}
.sp-pr40{padding-right:40px;}
.sp-pr50{padding-right:50px;}

.sp-pl10{padding-left:10px;}
.sp-pl20{padding-left:20px;}
.sp-pl30{padding-left:30px;}
.sp-pl40{padding-left:40px;}
.sp-pl50{padding-left:50px;}
.sp-pl250{padding-left:250px;}

.sp-pl_t30{padding-top:15px;
	padding-left:30px;}


.sp-mt10{margin-top:10px;}
.sp-mt15{margin-top:15px;}
.sp-mt20{margin-top:20px;}
.sp-mt25{margin-top:25px;}
.sp-mt30{margin-top:30px;}
.sp-mt40{margin-top:40px;}
.sp-mt50{margin-top:50px;}
.sp-mt60{margin-top:60px;}
.sp-mt70{margin-top:70px;}
.sp-mt80{margin-top:80px;}

.sp-mb5{margin-bottom:5px;}
.sp-mb10{margin-bottom:10px;}
.sp-mb15{margin-bottom:15px;}
.sp-mb20{margin-bottom:20px;}
.sp-mb30{margin-bottom:30px;}
.sp-mb40{margin-bottom:40px;}
.sp-mb50{margin-bottom:50px;}
.sp-mb60{margin-bottom:60px;}
.sp-mb70{margin-bottom:70px;}
.sp-mb100{margin-bottom:100px;}

.sp-mr10{margin-right:10px;}
.sp-mr12{margin-right:12px;}
.sp-mr15{margin-right:15px;}
.sp-mr20{margin-right:20px;}
.sp-mr25{margin-right:25px;}
.sp-mr30{margin-right:30px;}
.sp-mr37{margin-right:37px;}
.sp-mr40{margin-right:40px;}
.sp-mr45{margin-right:45px;}
.sp-mr50{margin-right:50px;}

.sp-ml10{margin-left:10px;}
.sp-ml15{margin-left:15px;}
.sp-ml20{margin-left:20px;}
.sp-ml25{margin-left:25px;}
.sp-ml30{margin-left:30px;}
.sp-ml35{margin-left:35px;}
.sp-ml40{margin-left:40px;}
.sp-ml50{margin-left:50px;}
.sp-ml80{margin-left:80px;}
.sp-ml85{margin-left:85px;}
.sp-ml90{margin-left:90px;}
.sp-ml120{margin-left:120px;}


/*------Float　*/
.f-l{float:left;}
.f-r{float:right;}

/*------Text position　*/
.t-r{text-align:right;}
.t-c{text-align:center;}

/*------Line height　*/
.l-h-30{line-height:30px;}

/*------Font size　*/
.f-s12{font-size:12px;}
.f-s15{font-size:15px;}

/*------Font weight　*/
.f-w-100{font-weight:100;}
.f-w-b{font-weight:bold;}

/*------Font color　*/
.f-color-g1{color:#9EB99F;}
.f-color-g2{color:#00913A;}
.f-color-w{ color:#FFF;}
.f-color-r1{ color:#E83828;}
.f-color-r2{ color:#8B0D00;}

.border-bottom1{ border-bottom:1px dotted #533C34;}

/*------Clear　*/
.clear{		overflow: hidden; position: relative;zoom:1;}

/*------Link　*/
.link075 :hover {
	opacity:0.75;
}
.link075 a:hover {
	opacity:0.75;
}
/*------Clear　*/
.cle {
	clear: both;
}
.border-left01{border-left:1px solid #706C64;}
