@charset "utf-8";

body,p,1h,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,@charset "utf-8";
/* CSS Document */

/*----------------------
	デフォルトスタイル
-----------------------*/
body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,dl,dd,
figure,img,
header,footer,nav,section{
    margin:0;
    padding:0;
	border:none;
	outline:none;
}

body{
	line-height: 2;
	text-align: left;
	background-color:#FFF;
	font-weight: normal;
	color: #604A3C;
	font-size:13px;
	margin:0;
	background: url(../img/common/bg.png) no-repeat top center;
}


#bg-top{
	background-image: url(../img/common/bg_rose.png);
	background-repeat: no-repeat;
	background-position: top center;
}

/*-------------------------------------------------sample（削除可能）*/

#sample_menu{
	background: url(../img/sample/menu.png) no-repeat top center;
	height: 1845px;
}
#sample_access{
	background: url(../img/sample/access.png) no-repeat top center;
	height: 2370px;
}
#sample_director{
	background: url(../img/sample/director.png) no-repeat top center;
	height: 1335px;
}
#sample_beginner{
	background: url(../img/sample/beginner.png) no-repeat top center;
	height: 3090px;
}
#sample_inquiry{
	background: url(../img/sample/inquiry.png) no-repeat top center;
	height: 1330px;
}
#sample_menu01{
	background: url(../img/sample/menu01.png) no-repeat top center;
	height: 4510px;
}
#sample_menu02{
	background: url(../img/sample/menu02.png) no-repeat top center;
	height: 3400px;
}
#sample_menu03{
	background: url(../img/sample/menu03.png) no-repeat top center;
	height: 1490px;
}

/*-------------------------------------------------sub*/

#main{
	width:1000px;
	margin: 0 auto;
}

#right{
	width:225px;
	float:right;
	margin-top:0px;
}


/*--------------------------------------------------Common */

h3 img{
	margin-bottom:30px;
}


/*--------------------------------------------------全ページ共通*/

html{overflow-y:scroll;}
img {border-style:none;}
a img {border-style:none;}
ul{margin:0; padding:0;}
li{list-style:none;}
dl{margin:0;}
dd{margin:0;}

table { 
	border-collapse:collapse;
	border:1px solid #533C34;
	}
	
#container {
	width: 1000px;
	text-align: left;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	zoom: 1;
}

#contents{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	/* [disabled]margin-bottom: 30px; */
}

#header{
	width: 1000px;
	height: 110px;
	margin: 0 auto;
}
	#header ul{
		margin-top:18px;
	}
	#header li{
		margin-bottom:5px;
	}
#navi{
	width:1000px;
	margin:0 auto 30px;
}
	#navi li{
		float:left;
	}
#footer_navi{
	width:100%;
	background: url(../img/common/footer_bg.png) no-repeat top center;
	padding:40px 0;
	margin-top:40px;
}
	#footer_navi ul{
		width:1000px;
		margin:0 auto;
		padding-left:60px;
		overflow: hidden; position: relative;zoom:1;
	}
	#footer_navi li{
		float:left;
		line-height:13px;
		border-right:1px solid #706C64;
		padding:0 38px;
	}
			#footer_navi li a{
				color:#706C64;
				text-decoration:none;
				font-size:12px;
			}
#footer{
	clear: both;
	width: 100%;
	background: url(../img/common/footer_bg02.png) no-repeat top center;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0;
	text-align: center;
	box-shadow:0px 1px 2px rgba(0,0,0, 0.3);
}




/*--------------------------------------------------Back to top button */
#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 1050px;
}
#back-top a {
	width: 60px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 60px;
	height: 60px;
	display: block;
	margin-bottom: 7px;
	background:  url(../img/common/up-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background:  url(../img/common/up-arrow02.png) no-repeat center center;
}
#access_tab {
}
#access_tab table {
	border: 1px solid #666;
}
#access_tab td {
	border: 1px solid #666;
}
#access_tab th {
	border: 1px solid #666;
}



/*------menu　*/
#menu_inl {
	width: 770px;
}
#menu_tb .Comment{
	margin: 0 0 15px 30px;
	font-size: 12px;
	line-height: 18px;
	color: #C5B9B0;
}
#menu_tb table,td,th{
	border:none;
}
#menu_tb table{
	margin-top: 10px;
	margin-bottom: 10px;
}
#menu_tb h3{
	color:#7a6a56;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-style:oblique;
}
	#menu_tb h3 span{
		color:#604c3f;
		font-size:20px;
		letter-spacing:0.2em;
		margin-right:20px;
	}

.menu01 {
	background-image: url(../imges/menu_pt.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 2px 8px;
}
.menu02 {
	background-image: url(../imges/menu_und.png);
	background-repeat: repeat-x;
	background-position: center;
}
.menu03 {
	float: right;
	text-align: right;
	font-size:18px;
}
.menu04 {
	padding-left: 67px;

}
.menu_indiva {
	border: 2px solid #a48b78;
	margin-left: 30px;
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 8px;
	border-radius:1px;
}
.menu_time {
	color: #FFF;
	background-color: #a48b78;
	margin-left: 30px;
	padding: 5px;
	border-radius:1px;

}
.me_ft {
}
.me_ft li{
	float: left;
	margin-left: 105px;
}
#menu_endf {
	border: 1px solid #a48b78;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 25px;
	margin-top: 60px;
}
#menu_endf h4{
	background-image: url(../imges/me_pt.png);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 1px;
}
.menu1_zitu {
	color: #FFF;
	background-color: #a48b78;
	margin-left: 30px;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
}
/*------mail　*/
.mail_left {
}
.mail_his {
	border: 2px solid #a48b78;
	margin-left: 30px;
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 8px;
	color: #FFF;
	background-color: #F00;
}
.conl {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	padding-top: 10px;
	padding-bottom: 10px;
}
